.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background:  #BE9D95;
    color: #FFE8CF;
    padding: 5px;
}

.footer-link {
    color: white;
}

.footer-img {
    width: calc(80vh/7 + 20px);
}