
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.translate {
    -webkit-transition: transform 0.1s linear;
}

// @media screen and (max-width: 767px) {
//     .translate {
//         transform: none !important;
//     }
// }


.info-box {
    background: lightgray;
    object-fit: contain;
    max-height: 100px;
    flex-direction: column;
    overflow: hidden;
    margin: 10px 0px 10px 0px !important;
    transition-property: max-height;
    transition-duration: 350ms;
    transition-timing-function: ease-in;
   
}

.info-box:hover {
     max-height: 1000px;
    .info-box-content {
        visibility: visible;
        opacity: 1;
    }
}

.info-box-header {
    font-weight: 700;
    font-size: 40px;
    //padding: 10px;
}

@media screen and (max-width: 450px) {
    .info-box-header {
        font-size: 20px;
    }
}

.info-box-content {
    opacity: 0;
    font-size: 16px;
    padding: 20px;
    background: white;
    border-color: white;
    border-radius: 15px;
    border-style: solid;
    transition: visibility 0s, opacity 0.5s linear;
    overflow: hidden;
    margin-top: 10px;
   
}

.info-box-movie {
    padding: 0;
    background: none;
    border: none;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 160vh;
    position: relative;
    overflow: hidden;
}

header:after{
    // content: '';
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // left: 0;
    // top: 0;
    // background-color: rgba(0, 0, 0, 0.05);
    // z-index: 25;
}

.mountain1{
    position: absolute;
    //bottom: -600px;
    //width: 100%;
    z-index: 19;
    top: -250px;
}

.person{
    position: absolute;
    //width: 100%;
    //bottom: -900px;
    z-index: 20;
    top: -220px;
}

.mountain2{
    position: absolute;
    //width: 100%;
    //bottom: -400px;
    //left: -400px;
    z-index: 18;
    //top: -300px;
}

.mountain3{
    position: absolute;
    //width: 100%;
    //bottom: -279px;
    //right: -1100px;
    top: -166px;
    z-index: 17;
    
}

.mountain4{
    position: absolute;
    //width: 900px;
    //bottom: 255px;
    //left: 690px;
    z-index: 16;
}

.sky{
    position: absolute;
    // width: 800px;
    bottom: 0;
    //right: -300px;
}

.sky_two{
    position: absolute;
    width: 570px;
    bottom: 208px;
    right: -220px;
}

.sky_three{
    position: absolute;
    width: 570px;
    bottom: 208px;
    left: -220px;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent)
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #000000;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo span{
    font-weight: 300;
}

.hamburger-menu{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar{
    position: relative;
    width: 1.2rem; 
    height: 3px;
    background-color: #000000;
    border-radius: 2px;
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #000000;
    border-radius: 2px;
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}

.big-title{
    position: absolute;
    z-index: 18;
    line-height: 4rem;
    top: calc(25% - 4rem);
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

section{
    width: 100%;
    //background-image: url('./assets2/moln_1_cop.png');
    //box-shadow: 20px 20px 20px 20px #B8B8B8 inset;
    //background-color: #B8B8B8;
    position: relative;
}

section .container{
    padding: 3rem;
    align-items: center;
    justify-content: center;
    //min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 1.5rem;
}

.content{
    //color: #ffbf1b;
    color: #000000;
    //transform: translateY(-50px);
}

.title {
    //color: #ac342c;
    color: #000000;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.color-title {
    color: #000000 !important;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    //background-color: #ffbf1b;
    background-color: #000000;
    border: none !important;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 500px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #ffffff, transparent);
}

.opacity{
    opacity: 100;
}

.custom_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.evenly {
  justify-content: space-evenly;
}

.card_holder {
  max-width: 800px;
}

.card_title {
  font-size: 1.2rem;
}

.color_section {
  //background: #ac342c;
  background: white;
  color: #000000;
}

iframe {
    object-fit: fill;
 
    @media (min-aspect-ratio: 16/9) {
       width: 177.78vh;
    }
 
    @media (max-aspect-ratio: 16/9) {
       height: 56.25vw;
    }
 }

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem;
        z-index: 20;
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}

@media(min-height: 1300px) {
  header {
    height: 100vh;
  }
}

@media(min-width: 1px) {
  .responsive-width {
    height: 150%;
    object-fit: cover;
  }
}

@media(min-width: 1950px) {
    .responsive-width {
        width:100%;
    }
}

@media(min-width: 1300px) {
  .mountain2 {
    width: 100%;
  }
}

.Typist .Cursor {
  display: inline-block;
 }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
